/* devices  */
/* --phone: 360px;
  --tablet: 768px;
  --desktop: 1366px;
  --LGdesktop: 1920px; */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary_transparent: transparent;
  --primary_white: #ffffff;
  --primary_color: #0f5288;
  --secondary_color: #68bbff;
  --secondary_aside_bg: #00386648;
  --stroke_color: #f5f5f580;
  --keywords_color: #d1fdf2;
  --similarprojects_color: #f5fbff;
  --light_primary: #f5fbff;
  --gray_color: #aeaeae;
  --light_gray: rgba(240, 240, 240, 0.671);
}

/* disable selection in document */
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* search in nav start */
.search_form .search_txt {
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.search_icon {
  box-sizing: border-box;

  padding: 5px;
  border-radius: 10px;
  background: #3573a3;
  color: white;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.search_form:hover,
.search_form:valid {
  cursor: pointer;
}

.search_form:hover .search_icon,
.search_form:valid .search_icon {
  color: black;
  /* padding: 5px;
    border-radius: 10px;
    background: var(--primary_color);
    color: white; */
}

.search_form .search_txt {
  background-color: transparent;
}

.search_form:hover .search_txt,
.search_form:valid .search_txt {
  background: white;
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
}

/* search in nav end */

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

body {
  position: relative;
  /* min-height: 100vh; */
  background-image: url("../images/bg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border-radius: 0;
}

.btnwhite,
.btnblue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 !important;
  max-width: fit-content;
}

.btnwhite {
  background-color: white;
  color: var(--primary_color);
}

.btnblue:hover,
.btnwhite:hover {
  transform: scale(1.05);
}

.btnblue {
  background-color: var(--primary_color);
  color: white;
}

.btnblue a {
  text-decoration: none;
}

/* for Navbar */

.nav_bar {
  position: relative !important;
  padding: 0 !important;
  color: var(--primary_color) !important;
}

.nav_link {
  color: var(--primary_color) !important;
  font-weight: 500;
}

.nav_item:hover > .nav_link {
  color: black;
  font-weight: 600;
}

.logo {
  height: 9vh;
  width: auto;
}

@media (max-width: 992px) {
  .logo_div {
    margin-right: 8rem !important;
  }

  .search_form {
    display: none;
  }
}

.search_form {
  margin: 0 auto;
  margin-right: 10vw;
}

.search_box {
  padding: 0.2em 1em;
}

.search_box input {
  border: none;
}

.search_txt::placeholder {
  color: var(--primary_color);
  background-color: var(--light_primary);
  opacity: 50%;
  font-size: 1rem;
}

.search_btn {
  color: var(--primary_color);
  /* transition: 200ms; */
  /* background-color:var(--light_primary); */
}

/* .search_txt {
    width: 0px;
} */

/* .search_box:hover>.search_txt {
    width: auto;
} */

/* .search_box:hover{
    border: 1px solid var(--primary_color);
} */
.search_box {
  border: 0;
  background-color: transparent !important;
}

/* for footer */
.footer {
  /* color: var(--primary_color);
    background-color: rgba(256,256,256,0.4); */
  color: gray;
  font-size: 0.8em;
  height: 5vh;
  /* background-color:rgba(15, 82, 136, 0.7); */
}

/* for top button */
.top_btn {
  color: var(--primary_color);
}

/* Home page start */

/* for DWIT card */

.dwit_info {
  background-color: var(--primary_color);
  color: white;
  /* padding: 3%; */
}

.dwit_info .card-body {
  padding: 10% 0 0 5%;
}

.dwit_title_home {
  font-size: 1.5rem;
  font-weight: 400;
}

.dwit_address_home {
  font-size: 1rem;
  font-weight: 400;
}

/* for other colleges */
.college_title_home {
  color: var(--primary_color);
}

.college_address_home {
  color: var(--primary_color);
  font-size: smaller;
}

/* Home page end */

/* Select year page start */

.year_body {
  min-height: 100vh;
}

.year_footer {
  position: absolute;
  bottom: 1%;
}

.pagetitle {
  color: var(--primary_color);
}

.underline {
  content: " ";
  width: 17%;
  display: block;
  height: 2px;
  background-color: var(--primary_color);
}

.box {
  background-color: var(--primary_color);
  max-width: fit-content;
  font-size: 1.25em;
  color: white;
}

.year_box:hover {
  transform: scale(1.07);
}

a {
  text-decoration: none;
  color: var(--primary_color);
}

/* Select year page end */

/* all projects start*/
.allpcard {
  border: 2px solid var(--stroke_color);
  margin-bottom: 1rem;
}

.yearly_projects .allpcard {
  width: 30%;
}

.allpheading {
  color: var(--primary_color);
  font-weight: 500;
}

.allpstudent {
  font-size: smaller;
  color: var(--primary_color);
}

.allpabstract {
  text-align: justify;
}

.allpcard .underline,
.vpcard .underline {
  width: 100%;
  height: 1px;
}

.allplower {
  color: var(--primary_color);
}

.allpview {
  line-height: 2rem;
}

.arrowvp {
  line-height: 2rem;
}

/* all projects end*/

/* view project start */

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.vpcard {
  border: 2px solid var(--stroke_color);
  background-color: white;
}

.projectHeading {
  font-weight: 500;
}

.studentsname {
  color: var(--primary_color);
  font-weight: 300;
  font-size: small;
}

.vpcard .underline {
  width: 40%;
  height: 2px;
}

.projectabstractfull {
  text-align: justify;
}

.keywords {
  background-color: var(--keywords_color);
  max-width: fit-content;
  font-size: 0.75em;
}

.download_btn {
  background-color: var(--primary_color);
  color: white;
  font-size: 0.8em;
  border-radius: 0;
  font-weight: 300;
}

.download_btn:hover {
  transform: scale(1.05);
}

.similar_projects {
  border-radius: 0;
  text-align: center;
  font-size: x-small;
  height: 8vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media (min-width: 1441px) {
  .similar_projects {
    font-size: small;
  }
}

.similar_projectsContainer {
  background-color: white;
  width: 22%;
  border: 1px solid var(--stroke_color);
}

.similar_projectsContainer:hover {
  background-color: var(--keywords_color);
  cursor: pointer;
  transform: scale(1.05);
}

/* view project end */

/* view all colleges start */

.college_card {
  display: flex;
  /* color: var(--primary_color); */
}

.college_card .btnblue {
  font-size: smaller;
  font-weight: 300;
}

.college_logo {
  /* height: auto; */
  width: 35%;
}

/* view all colleges end */

/* explore page start */
.explore_search_bar::placeholder {
  color: var(--primary_color);
  opacity: 50%;
  font-size: 1rem;
}

.explore_search_bar {
  border: 1px solid var(--primary_color);
  width: 90%;
}

.explore_search_bar input {
  border: 0;
  width: 95%;
}

.explore_search_txt {
  background-color: transparent;
}

/* .explore_search_bar .explore_search_txt {
    width: 50%;
} */

.filter_section {
  background-color: var(--light_gray);
}

.filter_head {
  color: white;
  background-color: var(--primary_color);
}

.categories {
  width: 90%;
  background: white;
  max-height: 25%;
}

.categories_checkbox {
  font-size: 0.7em;
  overflow-x: hidden;
}

.txt {
  color: var(--gray_color);
  font-size: smaller;
}

@media (max-width: 992px) {
  .filter_desktop {
    display: none;
  }

  .search_desktop {
    display: none;
  }

  .yearly_projects .allpcard {
    width: 100%;
  }

  .similar_projectsContainer {
    width: 100%;
  }

  .container {
    width: 90% !important;
  }

  .vpcard {
    padding: 0 2vw !important;
  }
}

@media (min-width: 992px) {
  .filter_mobile {
    display: none;
  }

  .search_mobile {
    display: none;
  }
}

#filterbtntoggle {
  font-size: 0.8rem;
}

.search_mobile .filter_section {
  background-color: var(--similarprojects_color);
  display: none;
}

.search_mobile .categories {
  height: auto;
}

.filter_box {
  position: absolute;
  top: 4vh;
  left: 28%;
}

#cross {
  cursor: pointer;
}

.search_mobile .explore_search_txt {
  width: 90%;
}

/* explore page end */

/* ======================== minor fix  */

/* set height for dwit img to 100% to mitigate,  743 1463 */
.dwitimg {
  height: 100%;
}

/* ================================= aside  */

/* =====================custom scroll bar  */
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--primary-white);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--light_gray);
  border: 2px solid var(--primary-white);
}

/* ======================== animation */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.description_panel {
  position: absolute;
  bottom: -0px;
}

.sidedrawer {
  /* ! */
  text-align: justify;
  overflow: hidden;
  border-bottom-right-radius: 0.55rem;
  padding: 2rem 1rem 1rem 1rem;
  color: var(--secondary_color);
  position: absolute;
  z-index: 1000;
  min-height: calc(100vh - 99px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--primary_color);
  transition: all ease-in-out 400ms;
}

@media only screen and (max-width: 1200px) {
  .sidedrawer {
    display: none;
  }
}

/*sidedrawer paragraph*/
.sidedrawer label {
  margin-top: 1rem;

  /*paragraph font  size*/
  font-size: 0.8rem;
  font-weight: 500;
}
/*sidedrawer titles*/
.sidedrawer label span {
  /*title font size */
  font-size: 1.1rem;
  font-weight: 500;
  color: var(----stroke_color);
  position: relative;
}

.featured_underline {
  position: absolute;
  width: 2rem;
  height: 1rem;
}

.sidedrawer label p {
  margin-top: 0.5rem;
}
/* .sidedrawer_header {
} */

.sidedrawer_title {
  word-wrap: break-word;
  font-weight: 300 !important;
}

.sidedrawer_title i {
  font-size: 1.5rem;
  color: var(--primary_white);
}
/* only show nav as block for port > 1220 */
@media only screen and (min-width: 1220px) {
  .sidedrawer--active {
    display: block;
    visibility: visible;
  }
}

.sidedrawer--inactive {
  width: 3rem;
}

.sidedrawer_opener-icon {
  font-size: 2rem;
  top: 50%;
  left: 50%;

  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  color: var(--stroke_color);
}

.description_section {
  /* background-color: red; */

  padding-bottom: 2rem;
  border-bottom: 1px solid var(--stroke_color);
}

.sidedrawer--inactive .description_section {
  visibility: hidden;
  opacity: 0;
  height: 0;
  /* display: none; */
  transition: all ease-in-out 0ms;
}
.sidedrawer--inactive:hover {
  width: 15rem;
}

/* //! */

@media only screen and (max-width: 1752px) {
  .sidedrawer--inactive:hover {
    width: 12rem;
  }

  .sidedrawer {
    text-align: left;
  }
}
@media only screen and (max-width: 1330px) {
  .sidedrawer--inactive:hover {
    width: 12rem;
  }

  .sidedrawer {
    text-align: left;
  }
}

.sidedrawer--inactive:hover .description_section {
  visibility: visible;
  opacity: 1;
  height: 100%;
  /* display: block; */
  transition: all ease-in-out 900ms;
}

.sidedrawer--inactive:hover .sidedrawer_icon-wrapper {
  display: none;
}
.sidedrawer--inactive:hover .sidedrawer_opener-icon {
  display: none;
}

.sidedrawer_opener-icon {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  background-color: var(--secondary_aside_bg);
  border-radius: 50%;
}

.sidedrawer_icon-wrapper {
  min-height: calc(90vh - 99px);
  align-items: center;
  animation-name: float;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

.description_section label {
  font-weight: 300;
  color: var(--light_primary);
}

.sidedrawer_social-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--primary_white);
}

.sidedrawer_social-container a {
  margin: 0.25rem;
  color: var(--primary_white);
  border-bottom: 1px solid var(--primary_transparent);
}
.sidedrawer_social-container a:active {
  color: var(--primary_white);
}

.sidedrawer_social-container a:hover {
  border-bottom: 1px solid var(--stroke_color);
  color: var(--secondary_color);
}

/* #college_name,
#college_location,
#college_description {
} */

.featured_underline {
  width: 1.8rem;
  height: 0.2rem;
  background: var(--secondary_color);
}

.sidedrawer--active {
  /* width: 12rem; */
  width: 15rem;
}

@media only screen and (max-width: 1752px) {
  .sidedrawer--active {
    width: 12rem;
  }
  .sidedrawer {
    text-align: left;
  }
}
@media only screen and (max-width: 1330px) {
  .sidedrawer--active {
    width: 12rem;
  }
  .sidedrawer {
    text-align: left;
  }
}

.sidedrawer--active .description_section {
  visibility: visible;
  opacity: 1;
  height: 100%;
  transition: all ease-in-out 900ms;
}

.sidedrawer--active .sidedrawer_icon-wrapper {
  display: none;
}
.sidedrawer--active .sidedrawer_opener-icon {
  display: none;
}

.card:hover {
  border: 1px solid var(--primary_color);
}

/* //! override  */

@media (max-width: 1330px) {
  .w-75 {
    width: 70% !important;
  }
}
@media (max-width: 960px) {
  .w-75 {
    width: 75% !important;
  }
}

/* =========================== right side project  */

@media only screen and (max-width: 1200px) {
  .right-panel {
    display: none;
  }
}

.right-panel {
  width: 15rem;
  cursor: pointer;
  position: absolute;
  right: 0rem;
  bottom: 0px;
}

body {
  overflow-x: hidden;
}
.right-sidedrawer {
  position: absolute;
  left: 12rem; /* shift to right wrt to .right-panel positioned  */
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.55rem;
  width: 15rem;
  overflow: hidden;
  padding: 2rem 1rem;
  color: var(--secondary_color);
  z-index: 1000;
  min-height: calc(100vh - 100px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--primary_color);
  transition: all ease-in-out 300ms;
  border: 1px solid var(--light_gray);
}
.right-sidedrawer:hover {
  transition: all ease-in-out 200ms;
  border-bottom-left-radius: 1rem;
}

.right-sidedrawer--sm {
  min-height: calc(30vh - 100px);
}

.right-sidedrawer--sm .bx-chevrons-left {
  display: none;
}
.right-sidedrawer:hover {
  left: 0; /* shift to right wrt to .right-panel positioned  */
}
.right-sidedrawer header h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

.right-sidedrawer header i {
  font-size: 1.8rem;
}

.right-panel .right-sidedrawer {
}

.right-panel .right-sidedrawer ul {
  list-style-type: upper-roman;
  text-transform: uppercase;
}
.right-panel .right-sidedrawer ul li {
  margin: 1rem 0rem;
}

.sidedrawer_header_logo {
  width: 9rem;
}

.right-sidedrawer_icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  animation-name: float;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

.right-sidedrawer_icon-container i {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  background-color: var(--secondary_aside_bg);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--stroke_color);
}

.right-sidedrawer:hover .bx-share-alt {
  display: none;
}
.right-sidedrawer:hover .bx-chevrons-left {
  display: none;
}
.content_wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 150ms;
}

.right-panel:hover .content_wrapper {
  visibility: visible;
  opacity: 1;
  transition: all ease-in-out 200ms;
}

.share_circle {
  height: 4rem;
  width: 4rem;
  /* border-radius: 50%; */
  border: 1px solid var(--stroke_color);
  margin: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 54px 55px,
    rgba(0, 0, 0, 0.06) 0px -12px 30px, rgba(0, 0, 0, 0.06) 0px 4px 6px,
    rgba(0, 0, 0, 0.1) 0px 12px 13px, rgba(0, 0, 0, 0.05) 0px -3px 5px;
}

.share_circle i {
  font-weight: lighter;
  color: var(--stroke_color);
  font-size: 1.4rem;
}

.share_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* landing screen - feat-project container */

.feat-project_container {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .feat-project_container {
    flex-direction: column;
  }
}

.feat-project_container .feat-project {
  border: 1px solid var(--gray_color);
  width: 100%;
  padding: 1rem 0.75rem;
  margin: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: var(--primary_white);
  border-radius: 0.15rem;

  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.feat-project_container .feat-project header {
}
.feat-project_container .feat-project header h4 {
  color: var(--primary_color);
}
.feat-project_container .feat-project p {
  text-align: justify;
}

body {
  padding-bottom: 5rem;
  min-height: 100.5vh;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer p {
  text-align: center;
  color: var(--gray_color);
}
